h1 {
    color: black;
    font-family:"Arial", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    line-height: 1.6;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  h2 {
      text-align: center;
    }
  body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/676bd718-88f6-489b-957e-b5633d7e52d1/DSC06837.jpg?format=2500w);
    
    .form-group {
      background-color:white;
      padding: 30px;
      border-radius: 12px;
      width: 500px;
      margin: auto;
      margin-bottom: 0%;
      box-shadow: 0 4px 15px black;
    }
}

div.page-container{
width: 90%;
margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}